# Домашнее задание
1. Тщательно изучите документацию на библиотеку pandas и попробуйте самостоятельно выполнить группировку по другим столбцам.
2. В качестве упражнения выведите на экран название (Name) фирмы, у которой цена (Price) входит в интервал Exclusive
3. Загружаем выборку `Iris.csv`
4. Выводим первый и третий столбцы, сначала по отдельности, потом вместе.
5. Вывести 10 первых строк, вывести 23 случайных строк.
6. Выводим статистику по числовым показателям
7. Сгрупируйте данные по столбцу Setosa

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('content/SPO_PGU/Iris.csv', delimiter=',')

In [3]:
data.shape

(150, 6)

In [4]:
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

Выводим первый и третий столбцы, сначала по отдельности, потом вместе.

In [5]:
data.iloc[:,1]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [6]:
data.iloc[:,3]

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64

In [7]:
data.iloc[:,[1,3]]

     SepalLengthCm  PetalLengthCm
0              5.1            1.4
1              4.9            1.4
2              4.7            1.3
3              4.6            1.5
4              5.0            1.4
..             ...            ...
145            6.7            5.2
146            6.3            5.0
147            6.5            5.2
148            6.2            5.4
149            5.9            5.1

[150 rows x 2 columns]

Вывести 10 первых строк, вывести 23 случайных строк.

In [8]:
data.iloc[:10,:]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [9]:
randIdx = np.random.randint(data.shape[0], size=25)
data.iloc[randIdx,:]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
74,75,6.4,2.9,4.3,1.3,Iris-versicolor
87,88,6.3,2.3,4.4,1.3,Iris-versicolor
133,134,6.3,2.8,5.1,1.5,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica
92,93,5.8,2.6,4.0,1.2,Iris-versicolor
138,139,6.0,3.0,4.8,1.8,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
15,16,5.7,4.4,1.5,0.4,Iris-setosa
147,148,6.5,3.0,5.2,2.0,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
57,58,4.9,2.4,3.3,1.0,Iris-versicolor
71,72,6.1,2.8,4.0,1.3,Iris-versicolor
9,10,4.9,3.1,1.5,0.1,Iris-setosa
47,48,4.6,3.2,1.4,0.2,Iris-setosa
111,112,6.4,2.7,5.3,1.9,Iris-virginica
15,16,5.7,4.4,1.5,0.4,Iris-setosa
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
109,110,7.2,3.6,6.1,2.5,Iris-virginica
69,70,5.6,2.5,3.9,1.1,Iris-versicolor
76,77,6.8,2.8,4.8,1.4,Iris-versicolor
26,27,5.0,3.4,1.6,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
49,50,5.0,3.3,1.4,0.2,Iris-setosa
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
115,116,6.4,3.2,5.3,2.3,Iris-virginica

Выводим статистику по числовым показателям

In [10]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

Сгрупируйте данные по столбцу Setosa - в какой выборке?