In [1]:
!git clone https://github.com/stuniy/SPO_PGU.git

Cloning into 'SPO_PGU'...
remote: Enumerating objects: 168, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 168 (delta 2), reused 0 (delta 0), pack-reused 161
Receiving objects: 100% (168/168), 74.99 MiB | 20.72 MiB/s, done.
Resolving deltas: 100% (48/48), done.
Updating files: 100% (54/54), done.

# Работа с табличными данными
Большое количество данных, которые используются в машинном обучении, представлены в виде таблиц, где в столбцах представлены различные признаки и целевые переменные.
Для работы с такими данными в Python есть замечательная библиотека [`pandas`](https://pandas.pydata.org/docs/user_guide/index.html) тесно связанная с уже известной нам `numpy`. К пандам отношения не имеет, название пошло от "панельные данные".

# Pandas
## Создание и индексация
В `pandas` два основных вида объектов (типов) Series и Dataframe, они похожи между собой, но Dataframe это фактически таблица, в которой есть строки, столбцы, а Series это один столбец со строками.
Столбцы и\или строки могут иметь названия, которые выступают их индексами и к определенному столбцу (или строке) можно обращаться именно по названию.  

Создадим Series (давайте назовем это последовательностью), в которой будут записаны некоторые данные имеющие названия (индексы). И данные (data) и индексы (index) могут иметь различный тип: числа, строки, объекты.

Но будьте аккуратны, индексы надо делать так, чтобы было понятно. Ниже увидим примеры разрешенных, но совершенно не понятных индексов.

![1.jpeg](https://drive.google.com/uc?id=1MeNfe5Q-5ua_mlrhjFJy9e_hf36pfFZ5)

In [2]:
import pandas as pd # подключим библиотеку
import numpy as np

In [3]:
s = pd.Series(data=[10, "11", ['a',12], 'ppp', 14], # данные
              index=[2, '2', 'два', 2, -2]) # их индексы
s # здесь 5 ячеек

2           10
2           11
два    [a, 12]
2          ppp
-2          14
dtype: object

в этой последовательности 5 ячеек (data) и к ним можно обратиться по индексам (index), важно понять, что здесь индексы именно названия, а не номера строк.

In [4]:
print(s[2]) # здесь вернется подпоследовательность элементов у которых индекс называется 2 (первая и четвертая ячейки)
print(s['2']) # это ячейка с названием '2', это совершенно другой индекс, отличается от названия 2 (вторая ячейка)
print(s['два']) # это ячейка с названием 'два', третья ячейка, в которой записан массив
print(s[-2]) # это ячейка с названием -2, пятая ячейка

2     10
2    ppp
dtype: object
11
['a', 12]
14

Как и в numpy можно делать срезы, в этом случае указываются номера, а не названия элементов.

In [5]:
s[1:3] # срез, вторая и третья ячейки, здесь это номера, а не названия.

2           11
два    [a, 12]
dtype: object

Но срезы могут быть строковыми (удивительно), тогда это именно названия. Pandas сопоставит символьные индексы числовым, найдет их в последовательности, и вернет все, что между ними, включая границы.

In [ ]:
v = pd.Series(data=[10, "11", ['a',12], 'ppp', 14], # данные
              index=['a', 'f', 'c', 'd', 'e']) # их индексы
v['a':'d']
# v['a':'g'] # так работать не будет, потому что индекса 'g' нет.

a         10
f         11
c    [a, 12]
d        ppp
dtype: object

Создайте свои последовательности, обратитесь к элементам. Проверьте, что будет если при создании последовательности не указать index?  А если при строковом индексе в последовательности индексы будут повторяться?

Аналогично можно создать таблицу Dataframe, в которой несколько столбцов.

![1.jpeg](https://drive.google.com/uc?id=11z6UFih20bUzXgvfjdrENfwYQpjayo3G)

In [9]:
data=pd.read_csv('/content/SPO_PGU/Iris.csv', delimiter=',')
data.tail(30)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
120,121,6.9,3.2,5.7,2.3,Iris-virginica
121,122,5.6,2.8,4.9,2.0,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
123,124,6.3,2.7,4.9,1.8,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica
127,128,6.1,3.0,4.9,1.8,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [10]:
length=data['PetalLengthCm']
length

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64

In [11]:
length_1=data.PetalLengthCm
length_1

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64

In [12]:
df=data[['PetalLengthCm','SepalLengthCm','Species']]
df

     PetalLengthCm  SepalLengthCm         Species
0              1.4            5.1     Iris-setosa
1              1.4            4.9     Iris-setosa
2              1.3            4.7     Iris-setosa
3              1.5            4.6     Iris-setosa
4              1.4            5.0     Iris-setosa
..             ...            ...             ...
145            5.2            6.7  Iris-virginica
146            5.0            6.3  Iris-virginica
147            5.2            6.5  Iris-virginica
148            5.4            6.2  Iris-virginica
149            5.1            5.9  Iris-virginica

[150 rows x 3 columns]

In [13]:
#выбираем первые 10 строк
first_10_rows = data[:10]
first_10_rows

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [16]:
#выбираем только строки где Длина лепестка =1.4
length_2 = data[data['PetalLengthCm'] == 5.1]
length_2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
83,84,6.0,2.7,5.1,1.6,Iris-versicolor
101,102,5.8,2.7,5.1,1.9,Iris-virginica
110,111,6.5,3.2,5.1,2.0,Iris-virginica
114,115,5.8,2.8,5.1,2.4,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [17]:
# изменяем Длину лепестка на 10
data['PetalLengthCm'] = data['PetalLengthCm'] + 10
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,11.4,0.2,Iris-setosa
1,2,4.9,3.0,11.4,0.2,Iris-setosa
2,3,4.7,3.2,11.3,0.2,Iris-setosa
3,4,4.6,3.1,11.5,0.2,Iris-setosa
4,5,5.0,3.6,11.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,15.2,2.3,Iris-virginica
146,147,6.3,2.5,15.0,1.9,Iris-virginica
147,148,6.5,3.0,15.2,2.0,Iris-virginica
148,149,6.2,3.4,15.4,2.3,Iris-virginica
149,150,5.9,3.0,15.1,1.8,Iris-virginica

In [ ]:
# удаляем столбец Id
data = data.drop('Id', axis=1)
data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5           11.4           0.2     Iris-setosa
1              4.9           3.0           11.4           0.2     Iris-setosa
2              4.7           3.2           11.3           0.2     Iris-setosa
3              4.6           3.1           11.5           0.2     Iris-setosa
4              5.0           3.6           11.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0           15.2           2.3  Iris-virginica
146            6.3           2.5           15.0           1.9  Iris-virginica
147            6.5           3.0           15.2           2.0  Iris-virginica
148            6.2           3.4           15.4           2.3  Iris-virginica
149            5.9           3.0           15.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
# определение типов данных
data.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
# определяем размеры выборки
print(data.index)
print(data.shape)

RangeIndex(start=0, stop=150, step=1)
(150, 5)

Атрибут index возвращает индекс (названия строк)

Атрибут columns возвращает названия столбцов (для таблиц)

Атрибут values возвращает значения ячеек как массив numpy

In [ ]:
print(data.index)
print(data.columns)
print(data.values)
print(type(data.values))

RangeIndex(start=0, stop=150, step=1)
Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')
[[5.1 3.5 11.4 0.2 'Iris-setosa']
 [4.9 3.0 11.4 0.2 'Iris-setosa']
 [4.7 3.2 11.3 0.2 'Iris-setosa']
 [4.6 3.1 11.5 0.2 'Iris-setosa']
 [5.0 3.6 11.4 0.2 'Iris-setosa']
 [5.4 3.9 11.7 0.4 'Iris-setosa']
 [4.6 3.4 11.4 0.3 'Iris-setosa']
 [5.0 3.4 11.5 0.2 'Iris-setosa']
 [4.4 2.9 11.4 0.2 'Iris-setosa']
 [4.9 3.1 11.5 0.1 'Iris-setosa']
 [5.4 3.7 11.5 0.2 'Iris-setosa']
 [4.8 3.4 11.6 0.2 'Iris-setosa']
 [4.8 3.0 11.4 0.1 'Iris-setosa']
 [4.3 3.0 11.1 0.1 'Iris-setosa']
 [5.8 4.0 11.2 0.2 'Iris-setosa']
 [5.7 4.4 11.5 0.4 'Iris-setosa']
 [5.4 3.9 11.3 0.4 'Iris-setosa']
 [5.1 3.5 11.4 0.3 'Iris-setosa']
 [5.7 3.8 11.7 0.3 'Iris-setosa']
 [5.1 3.8 11.5 0.3 'Iris-setosa']
 [5.4 3.4 11.7 0.2 'Iris-setosa']
 [5.1 3.7 11.5 0.4 'Iris-setosa']
 [4.6 3.6 11.0 0.2 'Iris-setosa']
 [5.1 3.3 11.7 0.5 'Iris-setosa']
 [4.8 3.4 11.9 0.2 'Iris-setosa']
 [5.0 3.0 11.6 0.2 'Iris-setosa']
 [5.0 3.4 11.6 0.4 'Iris-setosa']
 [5.2 3.5 11.5 0.2 'Iris-setosa']
 [5.2 3.4 11.4 0.2 'Iris-setosa']
 [4.7 3.2 11.6 0.2 'Iris-setosa']
 [4.8 3.1 11.6 0.2 'Iris-setosa']
 [5.4 3.4 11.5 0.4 'Iris-setosa']
 [5.2 4.1 11.5 0.1 'Iris-setosa']
 [5.5 4.2 11.4 0.2 'Iris-setosa']
 [4.9 3.1 11.5 0.1 'Iris-setosa']
 [5.0 3.2 11.2 0.2 'Iris-setosa']
 [5.5 3.5 11.3 0.2 'Iris-setosa']
 [4.9 3.1 11.5 0.1 'Iris-setosa']
 [4.4 3.0 11.3 0.2 'Iris-setosa']
 [5.1 3.4 11.5 0.2 'Iris-setosa']
 [5.0 3.5 11.3 0.3 'Iris-setosa']
 [4.5 2.3 11.3 0.3 'Iris-setosa']
 [4.4 3.2 11.3 0.2 'Iris-setosa']
 [5.0 3.5 11.6 0.6 'Iris-setosa']
 [5.1 3.8 11.9 0.4 'Iris-setosa']
 [4.8 3.0 11.4 0.3 'Iris-setosa']
 [5.1 3.8 11.6 0.2 'Iris-setosa']
 [4.6 3.2 11.4 0.2 'Iris-setosa']
 [5.3 3.7 11.5 0.2 'Iris-setosa']
 [5.0 3.3 11.4 0.2 'Iris-setosa']
 [7.0 3.2 14.7 1.4 'Iris-versicolor']
 [6.4 3.2 14.5 1.5 'Iris-versicolor']
 [6.9 3.1 14.9 1.5 'Iris-versicolor']
 [5.5 2.3 14.0 1.3 'Iris-versicolor']
 [6.5 2.8 14.6 1.5 'Iris-versicolor']
 [5.7 2.8 14.5 1.3 'Iris-versicolor']
 [6.3 3.3 14.7 1.6 'Iris-versicolor']
 [4.9 2.4 13.3 1.0 'Iris-versicolor']
 [6.6 2.9 14.6 1.3 'Iris-versicolor']
 [5.2 2.7 13.9 1.4 'Iris-versicolor']
 [5.0 2.0 13.5 1.0 'Iris-versicolor']
 [5.9 3.0 14.2 1.5 'Iris-versicolor']
 [6.0 2.2 14.0 1.0 'Iris-versicolor']
 [6.1 2.9 14.7 1.4 'Iris-versicolor']
 [5.6 2.9 13.6 1.3 'Iris-versicolor']
 [6.7 3.1 14.4 1.4 'Iris-versicolor']
 [5.6 3.0 14.5 1.5 'Iris-versicolor']
 [5.8 2.7 14.1 1.0 'Iris-versicolor']
 [6.2 2.2 14.5 1.5 'Iris-versicolor']
 [5.6 2.5 13.9 1.1 'Iris-versicolor']
 [5.9 3.2 14.8 1.8 'Iris-versicolor']
 [6.1 2.8 14.0 1.3 'Iris-versicolor']
 [6.3 2.5 14.9 1.5 'Iris-versicolor']
 [6.1 2.8 14.7 1.2 'Iris-versicolor']
 [6.4 2.9 14.3 1.3 'Iris-versicolor']
 [6.6 3.0 14.4 1.4 'Iris-versicolor']
 [6.8 2.8 14.8 1.4 'Iris-versicolor']
 [6.7 3.0 15.0 1.7 'Iris-versicolor']
 [6.0 2.9 14.5 1.5 'Iris-versicolor']
 [5.7 2.6 13.5 1.0 'Iris-versicolor']
 [5.5 2.4 13.8 1.1 'Iris-versicolor']
 [5.5 2.4 13.7 1.0 'Iris-versicolor']
 [5.8 2.7 13.9 1.2 'Iris-versicolor']
 [6.0 2.7 15.1 1.6 'Iris-versicolor']
 [5.4 3.0 14.5 1.5 'Iris-versicolor']
 [6.0 3.4 14.5 1.6 'Iris-versicolor']
 [6.7 3.1 14.7 1.5 'Iris-versicolor']
 [6.3 2.3 14.4 1.3 'Iris-versicolor']
 [5.6 3.0 14.1 1.3 'Iris-versicolor']
 [5.5 2.5 14.0 1.3 'Iris-versicolor']
 [5.5 2.6 14.4 1.2 'Iris-versicolor']
 [6.1 3.0 14.6 1.4 'Iris-versicolor']
 [5.8 2.6 14.0 1.2 'Iris-versicolor']
 [5.0 2.3 13.3 1.0 'Iris-versicolor']
 [5.6 2.7 14.2 1.3 'Iris-versicolor']
 [5.7 3.0 14.2 1.2 'Iris-versicolor']
 [5.7 2.9 14.2 1.3 'Iris-versicolor']
 [6.2 2.9 14.3 1.3 'Iris-versicolor']
 [5.1 2.5 13.0 1.1 'Iris-versicolor']
 [5.7 2.8 14.1 1.3 'Iris-versicolor']
 [6.3 3.3 16.0 2.5 'Iris-virginica']
 [5.8 2.7 15.1 1.9 'Iris-virginica']
 [7.1 3.0 15.9 2.1 'Iris-virginica']
 [6.3 2.9 15.6 1.8 'Iris-virginica']
 [6.5 3.0 15.8 2.2 'Iris-virginica']
 [7.6 3.0 16.6 2.1 'Iris-virginica']
 [4.9 2.5 14.5 1.7 'Iris-virginica']
 [7.3 2.9 16.3 1.8 'Iris-virginica']
 [6.7 2.5 15.8 1.8 'Iris-virginica']
 [7.2 3.6 16.1 2.5 'Iris-virginica']
 [6.5 3.2 15.1 2.0 'Iris-virginica']
 [6.4 2.7 15.3 1.9 'Iris-virginica']
 [6.8 3.0 15.5 2.1 'Iris-virginica']
 [5.7 2.5 15.0 2.0 'Iris-virginica']
 [5.8 2.8 15.1 2.4 'Iris-virginica']
 [6.4 3.2 15.3 2.3 'Iris-virginica']
 [6.5 3.0 15.5 1.8 'Iris-virginica']
 [7.7 3.8 16.7 2.2 'Iris-virginica']
 [7.7 2.6 16.9 2.3 'Iris-virginica']
 [6.0 2.2 15.0 1.5 'Iris-virginica']
 [6.9 3.2 15.7 2.3 'Iris-virginica']
 [5.6 2.8 14.9 2.0 'Iris-virginica']
 [7.7 2.8 16.7 2.0 'Iris-virginica']
 [6.3 2.7 14.9 1.8 'Iris-virginica']
 [6.7 3.3 15.7 2.1 'Iris-virginica']
 [7.2 3.2 16.0 1.8 'Iris-virginica']
 [6.2 2.8 14.8 1.8 'Iris-virginica']
 [6.1 3.0 14.9 1.8 'Iris-virginica']
 [6.4 2.8 15.6 2.1 'Iris-virginica']
 [7.2 3.0 15.8 1.6 'Iris-virginica']
 [7.4 2.8 16.1 1.9 'Iris-virginica']
 [7.9 3.8 16.4 2.0 'Iris-virginica']
 [6.4 2.8 15.6 2.2 'Iris-virginica']
 [6.3 2.8 15.1 1.5 'Iris-virginica']
 [6.1 2.6 15.6 1.4 'Iris-virginica']
 [7.7 3.0 16.1 2.3 'Iris-virginica']
 [6.3 3.4 15.6 2.4 'Iris-virginica']
 [6.4 3.1 15.5 1.8 'Iris-virginica']
 [6.0 3.0 14.8 1.8 'Iris-virginica']
 [6.9 3.1 15.4 2.1 'Iris-virginica']
 [6.7 3.1 15.6 2.4 'Iris-virginica']
 [6.9 3.1 15.1 2.3 'Iris-virginica']
 [5.8 2.7 15.1 1.9 'Iris-virginica']
 [6.8 3.2 15.9 2.3 'Iris-virginica']
 [6.7 3.3 15.7 2.5 'Iris-virginica']
 [6.7 3.0 15.2 2.3 'Iris-virginica']
 [6.3 2.5 15.0 1.9 'Iris-virginica']
 [6.5 3.0 15.2 2.0 'Iris-virginica']
 [6.2 3.4 15.4 2.3 'Iris-virginica']
 [5.9 3.0 15.1 1.8 'Iris-virginica']]
<class 'numpy.ndarray'>

Срез выполняется по строкам

In [ ]:
data[0:100]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0             5.1           3.5           11.4           0.2      Iris-setosa
1             4.9           3.0           11.4           0.2      Iris-setosa
2             4.7           3.2           11.3           0.2      Iris-setosa
3             4.6           3.1           11.5           0.2      Iris-setosa
4             5.0           3.6           11.4           0.2      Iris-setosa
..            ...           ...            ...           ...              ...
95            5.7           3.0           14.2           1.2  Iris-versicolor
96            5.7           2.9           14.2           1.3  Iris-versicolor
97            6.2           2.9           14.3           1.3  Iris-versicolor
98            5.1           2.5           13.0           1.1  Iris-versicolor
99            5.7           2.8           14.1           1.3  Iris-versicolor

[100 rows x 5 columns]

### Доступ к данным
Методы `.loc`, `.iloc`, `.at`

Свойство .iloc[] используется для целочисленной (позиционной) индексации. Вы можете использовать его для выбора данных по позициям строк и столбцов.

Например, чтобы выбрать данные из первой строки и первого столбца.

In [ ]:
print(data.iloc[1,1]) # первая строка первый столбец

4.9
Id                         2
SepalLengthCm            4.9
SepalWidthCm             3.0
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object

Чтобы выбрать несколько строк и столбцов с помощью свойства .iloc[], вы можете передать списки или фрагменты позиций:

In [ ]:
print(data.iloc[10:150,1:3]) # выводим 140 строк (с 10 по 150) по 2 столбцам
print(data.iloc[1,:]) # первая строка все столбцы
print(data.iloc[:, [0, 1, 2]]) # все строки для 0,1,2 столбцов

     SepalLengthCm  SepalWidthCm
10             5.4           3.7
11             4.8           3.4
12             4.8           3.0
13             4.3           3.0
14             5.8           4.0
..             ...           ...
145            6.7           3.0
146            6.3           2.5
147            6.5           3.0
148            6.2           3.4
149            5.9           3.0

[140 rows x 2 columns]
Id                         2
SepalLengthCm            4.9
SepalWidthCm             3.0
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object
      Id  SepalLengthCm  SepalWidthCm
0      1            5.1           3.5
1      2            4.9           3.0
2      3            4.7           3.2
3      4            4.6           3.1
4      5            5.0           3.6
..   ...            ...           ...
145  146            6.7           3.0
146  147            6.3           2.5
147  148            6.5           3.0
148  149            6.2           3.4
149  150            5.9           3.0

[150 rows x 3 columns]

![1.jpeg](https://drive.google.com/uc?id=1OwvOk08r8ezt2H4JixLAaatzSOGT89mt)

`loc[] `— предоставляет доступ к группе строк и столбцов по меткам или булевому массиву. Рассмотрим несколько примеров использования:

In [ ]:
customer_data = data.loc[149, 'PetalWidthCm'] # выводим значение 149 строки по столбцу PetalWidthCm
customer_data

1.8

In [ ]:
selected = data.loc[[139, 149],['PetalWidthCm', 'Species']]
selected

     PetalWidthCm         Species
139           2.1  Iris-virginica
149           1.8  Iris-virginica

In [ ]:
selected_2 = data.loc[139:149,['PetalWidthCm', 'Species']]
selected_2

     PetalWidthCm         Species
139           2.1  Iris-virginica
140           2.4  Iris-virginica
141           2.3  Iris-virginica
142           1.9  Iris-virginica
143           2.3  Iris-virginica
144           2.5  Iris-virginica
145           2.3  Iris-virginica
146           1.9  Iris-virginica
147           2.0  Iris-virginica
148           2.3  Iris-virginica
149           1.8  Iris-virginica

Свойство .at[] используется для быстрой индексации скалярных значений на основе меток. Он похож на .loc[], но оптимизирован для доступа к одним точкам данных, что делает его быстрее для этого конкретного случая использования.

**Имейте в виду, что .at[] может использоваться только для доступа к одним точкам данных, а не для выбора нескольких строк или столбцов.**

In [ ]:
customer_data = data.at[145, 'Species']
customer_data

'Iris-virginica'

In [ ]:
# описание данных в выборке
# для непрерывных (числовых)
data.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000      13.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000      11.000000      0.100000
25%         5.100000      2.800000      11.600000      0.300000
50%         5.800000      3.000000      14.350000      1.300000
75%         6.400000      3.300000      15.100000      1.800000
max         7.900000      4.400000      16.900000      2.500000

In [ ]:
# для категориальных (строковых)
data.describe(include='O')

            Species
count           150
unique            3
top     Iris-setosa
freq             50

Другие способы создания и индексации смотри в документации.

## Загрузка из файла

Если б таблички нужно было создавать вручную, это было бы слишком утомительно, к счастью, pandas обладает богатыми возможностями по загрузке файлов таблиц разного формата, \*.csv, \*.xls и других, как с диска так и из Интернет.

Команда [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) позволяет загрузить файлы csv с заданного файла на диске или адреса в Интернет (первый обязательный аргумент `filepath_or_buffer`). Это текстовые файлы, в которых столбцы таблиц разделяются некоторым символом (запятая, точка с запятой или другие), который можно указать команде (аргумент `sep`), возвращается объект типа Dataframe. У команды большие возможности по загрузке данных, можно ограничить количество загружаемых строк (аргумент `nrows`), можно указать загружаемые столбцы (аргумент `usecols`), указать, что делать со строками с пропущенными значениями и другие.

Данная выборка содержит информацию о клиентах банка, на основании который можно определить, уйдет ли он в ближайшие 6 месяцев или нет?

In [ ]:
data_churn=pd.read_csv('/content/SPO_PGU/Churn_Modelling.csv')
data_churn

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
data_churn.shape # сколько строк и столбцов?

(10000, 14)

In [ ]:
# выводит первые несколько строк
data_churn.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [ ]:
# как называются столбцы?
data_churn.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
# количество строк
len(data_churn)

10000

In [ ]:
# из них строк женщин(столбец Gender)
ind=data_churn['Gender']=='Female'
sum(ind)

4543

In [ ]:
# статистика по столбцам с текстовыми занчениями
data_churn.describe(include="O")

       Surname Geography Gender
count    10000     10000  10000
unique    2932         3      2
top      Smith    France   Male
freq        32      5014   5457

> _Примечание: так как false интерпретируется как 0, а true как 1, то sum() и дает число истинных элементов._

## Группировка данных

Данные можно сгруппировать по различным критериям, за это отвечает метод [`groupby()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html), к результатам которого можно применять разные функции.

Общий подход показан на рисунке:

данные разбиваются построчно по уникальным значениям (ключ, на рисунке столбец x), стоки с одинаковыми ключами объединяются в группы и к группам применяются заданные функции (подсчет среднего на рисунке для столбца y), затем результаты объединяются.

![img](https://drive.google.com/uc?id=1bn-KonuEYEw5hQRgCuIpiLEqQEH4YE4G)

In [ ]:
# аргумент as_index в значение False, то метка группы более не будет рассматриваться в качестве индекса
data_price = data_churn.groupby(by=['Gender'],as_index=False).mean()
data_price

<ipython-input-12-0b687b64afef>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_price = data_churn.groupby(by=['Gender'],as_index=False).mean()

,Gender,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,Female,4942.929562,1.569115e+07,650.831389,39.238389,4.966102,75659.369139,1.544134,0.702619,0.502751,100601.541382,0.250715
1,Male,5048.427891,1.569077e+07,650.276892,38.658237,5.051677,77173.974506,1.518600,0.707898,0.525380,99664.576931,0.164559

In [ ]:
# множественная агрегация для нескольких столбцов функция agg
df_price = data_churn.groupby(by=['Gender'],as_index=False)[['Age','Balance','EstimatedSalary']].agg(['mean','min','max','std'])
df_price

              Age                          Balance                  \
             mean min max        std          mean  min        max
Gender
Female  39.238389  18  85  10.588588  75659.369139  0.0  238387.56
Male    38.658237  18  92  10.396780  77173.974506  0.0  250898.09

                     EstimatedSalary
                 std            mean    min        max           std
Gender
Female  62102.467293   100601.541382  91.75  199992.48  57371.034092
Male    62639.251138    99664.576931  11.58  199953.33  57628.130354

In [ ]:
# группируем по значениям столбцов Gender и
group=data_churn.groupby('Gender')
group.size() # считаем количество строк, оказавшихся в каждой группе

Gender
Female    4543
Male      5457
dtype: int64

In [ ]:
group.count() # число раз, когда значение группы встречалось
# может быть меньше, чем число строк, если значение было пропущено в файле

,RowNumber,CustomerId,Surname,CreditScore,Geography,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
Gender,,,,,,,,,,,,,
Female,4543,4543,4543,4543,4543,4543,4543,4543,4543,4543,4543,4543,4543
Male,5457,5457,5457,5457,5457,5457,5457,5457,5457,5457,5457,5457,5457

In [ ]:
group.Balance.median() # медиана для групп по числовому столбцу Balance
# тут-то нам и пригодилось обращение к столбцу как к атрибуту

#group['Balance'].median() # альтернативное написание

Gender
Female    96147.55
Male      98064.97
Name: Balance, dtype: float64

Уникальные (т.е. без повторов) названия (столбец Name) компаний в каждой группе.

In [ ]:
group.Geography.unique()

Gender
Female    [France, Spain, Germany]
Male      [Spain, France, Germany]
Name: Geography, dtype: object

In [ ]:
data_churn.Surname.unique()

array(['Hargrave', 'Hill', 'Onio', ..., 'Kashiwagi', 'Aldridge',
       'Burbidge'], dtype=object)

Каждая группа здесь это кортеж названий и содержания (последовательность) группы.

Посмотрим, есть ли в группе хоть один человек с фамилией на G (столбец Surname).

In [ ]:
letter="G"
for i in group.Surname:
    print('{}: {}'.format(i[0],(i[1].str.get(0)==letter).any()))

Female: True
Male: True

Что здесь происходит:
- группы можно итерировать, в цикле переменная i будет являться последовательно кортежем из названия и содержание каждой из групп в которой оставлен только столбец Surname.
- i[0] - название группы, i[1] - содержимое текущей группы, в нашем случае это объект типа Series.
- у этого объекта Series есть атрибут str, который позволяет работать с элементами как со строкой.
- метод get() для строки возвращает символ строки на определенном месте, 0 - это первый символ.
- сравниваем этот первый символ с буквой "G", получаем или истину или ложь.
- так как в группе может быть не одна строка, то в результате получится логический вектор (тип Series) из значений истина\ложь.
- метод any() для логических векторов возвращает истину если хотя бы один элемент вектора истинный, что нам и требуется.
- наконец печатаем результат.

Агрегировать группы можно разными функциями, даже своими собственными, в этом помогает метод [`agg()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.agg.html?highlight=agg#pandas.core.groupby.GroupBy.agg), который позволяет применять одну или несколько функций к группам. Давайте сделаем свою функцию и применим ее к группам.

In [ ]:
# своя функция, которая вычитает минимальное значение из максимального
def max_min(arr):
    return arr.max() - arr.min()

# считаем по группам для столбца Price свою функцию и среднее.
result=group.Age.agg([max_min, 'mean'])
result

        max_min       mean
Gender
Female       67  39.238389
Male         74  38.658237

## Фильтры

In [ ]:
country_stats = data_churn.filter(items = ['Balance','Gender'])
country_stats.head(10)

     Balance  Gender
0       0.00  Female
1   83807.86  Female
2  159660.80  Female
3       0.00  Female
4  125510.82  Female
5  113755.78    Male
6       0.00    Male
7  115046.74  Female
8  142051.07    Male
9  134603.88    Male

In [ ]:
average_level = data_churn['Balance'].mean()
average_level

76485.889288

In [ ]:
'Balance > {}'.format(average_level)

'Balance > 76485.889288'

In [ ]:
# самый популярный способ

data_churn[data_churn['Balance'] > average_level].head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1

In [ ]:
# фильтр на подстроку
# найдем всех людей у которых фамилия состоит из 'Mit'

data_churn[data_churn['Surname'].str.contains('Mit', case=False) ]['Surname'].unique()

array(['Mitchell', 'Smith', 'Mitchel', 'Armit', 'Fleetwood-Smith',
       'Messersmith'], dtype=object)

In [ ]:
# фильтр на несколько условий сразу
# | - условие ИЛИ
# & AND
# () | (() | () & ())
filtered_countries = data_churn[(data_churn['Surname']=='Mitchell') | (data_churn['Surname']=='Mitchel') ]

filtered_countries.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
406,407,15578045,Mitchell,538,Spain,Female,49,9,141434.04,1,0,0,173779.25,1
591,592,15604044,Mitchell,700,France,Male,38,8,134811.30,1,1,0,1299.75,0
688,689,15802741,Mitchel,625,France,Female,51,7,136294.97,1,1,0,38867.46,1
1139,1140,15569247,Mitchell,727,Spain,Female,57,1,109679.72,1,0,1,753.37,0

In [ ]:
filtered_countries['Surname'].unique()

array(['Mitchell', 'Mitchel'], dtype=object)

In [ ]:
data_churn[['Geography', 'Gender'] ].head(10)

  Geography  Gender
0    France  Female
1     Spain  Female
2    France  Female
3    France  Female
4     Spain  Female
5     Spain    Male
6    France    Male
7   Germany  Female
8    France    Male
9    France    Male

# Сортировка

In [ ]:
# Сортировка по столбцу

data_churn.sort_values(by='Age').head(23)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
3512,3513,15657779,Boylan,806,Spain,Male,18,3,0.00,2,1,1,86994.54,0
1678,1679,15569178,Kharlamov,570,France,Female,18,4,82767.42,1,1,0,71811.90,0
3517,3518,15757821,Burgess,771,Spain,Male,18,1,0.00,2,0,0,41542.95,0
9520,9521,15673180,Onyekaozulu,727,Germany,Female,18,2,93816.70,2,1,0,126172.11,0
2021,2022,15795519,Vasiliev,716,Germany,Female,18,3,128743.80,1,0,0,197322.13,0
9526,9527,15665521,Chiazagomekpele,642,Germany,Male,18,5,111183.53,2,0,1,10063.75,0
746,747,15787619,Hsieh,844,France,Male,18,2,160980.03,1,0,0,145936.28,0
9029,9030,15722701,Bruno,594,Germany,Male,18,1,132694.73,1,1,0,167689.56,0
4716,4717,15805764,Hallahan,646,France,Male,18,10,0.00,2,0,1,52795.15,0
7722,7723,15570086,Lynch,684,Germany,Male,18,9,90544.00,1,0,1,4777.23,0
9501,9502,15634146,Hou,835,Germany,Male,18,2,142872.36,1,1,1,117632.63,0
1619,1620,15770309,McDonald,656,France,Male,18,10,151762.74,1,0,1,127014.32,0
8522,8523,15619892,Page,644,Spain,Male,18,8,0.00,2,1,0,59172.42,0
7334,7335,15759133,Vaguine,616,France,Male,18,6,0.00,2,1,1,27308.58,0
2136,2137,15621893,Bellucci,727,France,Male,18,4,133550.67,1,1,1,46941.41,0
9572,9573,15641688,Collier,644,Spain,Male,18,7,0.00,1,0,1,59645.24,1
2141,2142,15758372,Wallace,674,France,Male,18,7,0.00,2,1,1,55753.12,1
3686,3687,15665327,Cattaneo,706,France,Male,18,2,176139.50,2,1,0,129654.22,0
4556,4557,15796231,Nwankwo,681,France,Female,18,1,98894.39,1,1,1,9596.40,0
3330,3331,15657439,Chao,738,France,Male,18,4,0.00,2,1,1,47799.15,0
9782,9783,15728829,Weigel,509,France,Male,18,7,102983.91,1,1,0,171770.58,0
9932,9933,15813451,Fleetwood-Smith,677,Spain,Male,18,8,134796.87,2,1,1,114858.90,0
3631,3632,15794841,Kung,739,Spain,Male,19,5,89750.21,1,1,0,193008.52,0

In [ ]:
# сортировка по убыванию

data_churn.sort_values('Age', ascending=False).head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
6443,6444,15764927,Rogova,753,France,Male,92,3,121513.31,1,0,1,195563.99,0
6759,6760,15660878,T'ien,705,France,Male,92,1,126076.24,2,1,1,34436.83,0
2458,2459,15813303,Rearick,513,Spain,Male,88,10,0.00,2,1,1,52952.24,0
3033,3034,15578006,Yao,787,France,Female,85,10,0.00,2,1,1,116537.96,0
3387,3388,15798024,Lori,537,Germany,Male,84,8,92242.34,1,1,1,186235.98,0

In [ ]:
# сортировка по нескольким столбцам

data_churn.sort_values(by=['Gender', 'Age', 'Geography'], ascending=[False, True, False]).head(50)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
3512,3513,15657779,Boylan,806,Spain,Male,18,3,0.00,2,1,1,86994.54,0
3517,3518,15757821,Burgess,771,Spain,Male,18,1,0.00,2,0,0,41542.95,0
8522,8523,15619892,Page,644,Spain,Male,18,8,0.00,2,1,0,59172.42,0
9572,9573,15641688,Collier,644,Spain,Male,18,7,0.00,1,0,1,59645.24,1
9932,9933,15813451,Fleetwood-Smith,677,Spain,Male,18,8,134796.87,2,1,1,114858.90,0
7722,7723,15570086,Lynch,684,Germany,Male,18,9,90544.00,1,0,1,4777.23,0
9029,9030,15722701,Bruno,594,Germany,Male,18,1,132694.73,1,1,0,167689.56,0
9501,9502,15634146,Hou,835,Germany,Male,18,2,142872.36,1,1,1,117632.63,0
9526,9527,15665521,Chiazagomekpele,642,Germany,Male,18,5,111183.53,2,0,1,10063.75,0
746,747,15787619,Hsieh,844,France,Male,18,2,160980.03,1,0,0,145936.28,0
1619,1620,15770309,McDonald,656,France,Male,18,10,151762.74,1,0,1,127014.32,0
2136,2137,15621893,Bellucci,727,France,Male,18,4,133550.67,1,1,1,46941.41,0
2141,2142,15758372,Wallace,674,France,Male,18,7,0.00,2,1,1,55753.12,1
3330,3331,15657439,Chao,738,France,Male,18,4,0.00,2,1,1,47799.15,0
3686,3687,15665327,Cattaneo,706,France,Male,18,2,176139.50,2,1,0,129654.22,0
4716,4717,15805764,Hallahan,646,France,Male,18,10,0.00,2,0,1,52795.15,0
7334,7335,15759133,Vaguine,616,France,Male,18,6,0.00,2,1,1,27308.58,0
9782,9783,15728829,Weigel,509,France,Male,18,7,102983.91,1,1,0,171770.58,0
3631,3632,15794841,Kung,739,Spain,Male,19,5,89750.21,1,1,0,193008.52,0
4770,4771,15761506,Russell,615,Spain,Male,19,5,0.00,2,1,0,159920.92,0
4792,4793,15809991,Ferrari,756,Spain,Male,19,4,130274.22,1,1,1,133535.29,0
5289,5290,15741195,Okechukwu,613,Spain,Male,19,5,0.00,1,1,1,176903.35,0
5592,5593,15670343,Li,576,Spain,Male,19,6,0.00,2,0,0,72306.07,0
6003,6004,15579892,Doyle,708,Spain,Male,19,7,112615.86,1,1,1,4491.77,0
57,58,15647091,Endrizzi,725,Germany,Male,19,0,75888.20,1,0,0,45613.75,0
2990,2991,15809823,Thurgood,491,Germany,Male,19,2,125860.20,1,0,0,129690.50,0
7625,7626,15689692,Walker,598,Germany,Male,19,3,150348.37,1,1,1,173784.04,0
9331,9332,15659305,Webster,605,Germany,Male,19,8,166133.28,1,1,1,107994.99,0
2311,2312,15664639,McGregor,645,France,Male,19,9,128514.84,1,0,0,175969.19,0
3095,3096,15680243,Brown,792,France,Male,19,7,143390.51,1,1,0,33282.84,0
3999,4000,15665062,Lucchese,696,France,Male,19,1,110928.51,1,1,1,2766.63,0
5647,5648,15615245,Shao,660,France,Male,19,5,127649.64,1,1,1,40368.65,0
5874,5875,15693902,Hunt,597,France,Male,19,2,0.00,2,1,1,91036.74,0
6887,6888,15662641,Amadi,850,France,Male,19,8,0.00,1,1,1,68569.89,0
8584,8585,15732967,Cremonesi,731,France,Male,19,6,0.00,2,1,1,151581.79,0
9679,9680,15605067,Nwachinemelu,472,France,Male,19,9,0.00,2,1,0,3453.40,0
1327,1328,15688007,Liu,703,Spain,Male,20,3,165260.98,1,1,1,41626.78,0
2250,2251,15739576,Bustard,706,Spain,Male,20,8,0.00,2,1,1,12368.11,0
3568,3569,15672970,Chigolum,714,Spain,Male,20,3,0.00,2,0,1,150465.93,0
3942,3943,15786167,Andreyeva,649,Spain,Male,20,5,0.00,2,1,1,58309.54,0
5097,5098,15568238,Diaz,650,Spain,Male,20,8,0.00,2,1,1,113469.65,0
5102,5103,15632899,Nwankwo,662,Spain,Male,20,9,104508.77,2,0,0,73107.53,0
5254,5255,15746664,Ts'ui,463,Spain,Male,20,8,204223.03,1,1,0,128268.39,0
7390,7391,15764922,Tu,596,Spain,Male,20,3,187294.46,1,1,0,103456.47,0
7456,7457,15598614,Lucchesi,790,Spain,Male,20,8,0.00,2,1,0,168152.76,0
9006,9007,15756118,T'ao,661,Spain,Male,20,8,0.00,1,1,0,110252.53,0
233,234,15723886,Fiore,767,Germany,Male,20,3,119714.25,2,0,1,150135.38,0
1905,1906,15566843,Gotch,535,Germany,Male,20,9,134874.40,1,1,1,118825.56,0
2945,2946,15776348,Rogers,835,Germany,Male,20,4,124365.42,1,0,0,180197.74,1
4571,4572,15761775,Myers,598,Germany,Male,20,8,180293.84,2,1,1,29552.70,0

In [ ]:
# параметр inplace

data_churn_1 = data_churn.sort_values(by=['Gender', 'Age', 'Geography'], ascending=[True, True, False])

# чтобы сократить это выражение используем inplace:
data_churn.sort_values(by=['Gender', 'Age', 'Geography'], ascending=[True, True, False], inplace=True)
data_churn_1

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
2021,2022,15795519,Vasiliev,716,Germany,Female,18,3,128743.80,1,0,0,197322.13,0
9520,9521,15673180,Onyekaozulu,727,Germany,Female,18,2,93816.70,2,1,0,126172.11,0
1678,1679,15569178,Kharlamov,570,France,Female,18,4,82767.42,1,1,0,71811.90,0
4556,4557,15796231,Nwankwo,681,France,Female,18,1,98894.39,1,1,1,9596.40,0
3239,3240,15776844,Hao,762,Spain,Female,19,6,0.00,2,1,0,55500.17,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9309,9310,15621644,Lombardi,678,Germany,Male,83,6,123356.63,1,0,1,92934.41,0
3387,3388,15798024,Lori,537,Germany,Male,84,8,92242.34,1,1,1,186235.98,0
2458,2459,15813303,Rearick,513,Spain,Male,88,10,0.00,2,1,1,52952.24,0
6443,6444,15764927,Rogova,753,France,Male,92,3,121513.31,1,0,1,195563.99,0
6759,6760,15660878,T'ien,705,France,Male,92,1,126076.24,2,1,1,34436.83,0

## Разбивка на интервалы
Значения в столбце можно разбить на интервалы, назвать их и записать эти интервалы вместо значений. В этом поможет команда [`cut`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html?highlight=cut#pandas.cut) которой указываем что разбивать, сколько интервалов сделать, их названия и другие аргументы.

In [ ]:
# разбиваем столбец Price на 5 интервалов, называем их.
cuted=pd.cut(data_churn['Balance'], 5,labels=['Low','Medium','High','Very High','Exclusive'], include_lowest=True)
cuted

2021      High
9520    Medium
1678    Medium
4556    Medium
3239       Low
         ...
9309      High
3387    Medium
2458       Low
6443      High
6759      High
Name: Balance, Length: 10000, dtype: category
Categories (5, object): ['Low' < 'Medium' < 'High' < 'Very High' < 'Exclusive']

Заменим столбец Balance на cuted

In [ ]:
data_churn['Balance']=cuted
data_churn

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
2021,2022,15795519,Vasiliev,716,Germany,Female,18,3,High,1,0,0,197322.13,0
9520,9521,15673180,Onyekaozulu,727,Germany,Female,18,2,Medium,2,1,0,126172.11,0
1678,1679,15569178,Kharlamov,570,France,Female,18,4,Medium,1,1,0,71811.90,0
4556,4557,15796231,Nwankwo,681,France,Female,18,1,Medium,1,1,1,9596.40,0
3239,3240,15776844,Hao,762,Spain,Female,19,6,Low,2,1,0,55500.17,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9309,9310,15621644,Lombardi,678,Germany,Male,83,6,High,1,0,1,92934.41,0
3387,3388,15798024,Lori,537,Germany,Male,84,8,Medium,1,1,1,186235.98,0
2458,2459,15813303,Rearick,513,Spain,Male,88,10,Low,2,1,1,52952.24,0
6443,6444,15764927,Rogova,753,France,Male,92,3,High,1,0,1,195563.99,0
6759,6760,15660878,T'ien,705,France,Male,92,1,High,2,1,1,34436.83,0

## Выборка

In [ ]:
exited = data_churn[(data_churn['Geography'] == "Germany") & (data_churn['Balance'] =="Low")]
exited

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
6411,6412,15791172,Yeh,672,Germany,Female,21,1,Low,1,1,0,28789.94,0
1181,1182,15624428,Longo,651,Germany,Female,24,7,Low,1,1,1,178341.33,0
4646,4647,15665008,Sidorov,805,Germany,Female,26,8,Low,2,1,1,28861.69,0
8260,8261,15627830,Nikitina,640,Germany,Female,30,5,Low,1,0,1,141446.01,0
257,258,15592979,Rose,671,Germany,Female,34,6,Low,2,0,0,156917.12,0
8251,8252,15751032,Enemuo,629,Germany,Female,37,1,Low,2,0,0,49676.33,0
7907,7908,15688157,Padovano,683,Germany,Female,39,2,Low,2,1,1,86019.48,0
5366,5367,15812230,Elliot,670,Germany,Female,42,5,Low,3,1,1,100324.01,0
4568,4569,15672875,Piccio,584,Germany,Male,32,8,Low,1,1,1,137439.34,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,Low,1,1,0,53667.08,0
368,369,15684042,Blair,636,Germany,Male,34,2,Low,2,0,1,53512.16,0
3992,3993,15602811,Chioke,730,Germany,Male,38,0,Low,2,0,0,94003.11,0
2592,2593,15658956,Tuan,505,Germany,Male,40,6,Low,2,1,1,155061.97,0
9312,9313,15658946,Piccio,579,Germany,Male,40,10,Low,2,1,0,18732.91,0
1579,1580,15743976,Archer,618,Germany,Male,41,8,Low,1,1,1,195775.48,0
2222,2223,15763662,Longo,711,Germany,Male,43,2,Low,2,1,1,175423.69,0
8069,8070,15700654,Liardet,617,Germany,Male,44,9,Low,2,1,0,53294.17,0
9402,9403,15674156,Tretiakova,810,Germany,Male,69,3,Low,1,1,1,110509.90,0
6721,6722,15715638,Ch'ang,824,Germany,Male,77,3,Low,2,0,1,2746.41,0

## Трансформация данных

### Слияние и присоединение DataFrames

In [ ]:
customer_income = pd.DataFrame({'CustomerId': [15634602, 15619304, 15584532],'AnnualIncome': [55000, 68000, 45000]})
customer_income

   CustomerId  AnnualIncome
0    15634602         55000
1    15619304         68000
2    15584532         45000

Объединение DataFrames с помощью функции `merge()`. Функция `merge()` объединяет DataFrames на основе общих столбцов. По умолчанию он выполняет внутреннее соединение, что означает, что в результат будут включены только строки с соответствующими значениями в общих столбцах.

In [ ]:
merged_data = pd.merge(data_churn, customer_income,on='CustomerId')
merged_data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,AnnualIncome
0,1,15634602,Hargrave,619,France,Female,42,2,0.0,1,1,1,101348.88,1,55000
1,3,15619304,Onio,502,France,Female,42,8,159660.8,3,1,0,113931.57,1,68000
2,9998,15584532,Liu,709,France,Female,36,7,0.0,1,0,1,42085.58,1,45000

Вы можете указать тип соединения с помощью параметра `how`:
- «left»: Используйте ключи только из левого DataFrame
- «right»: Используйте ключи только из правого DataFrame
- «outer»: Используйте ключи из обоих DataFrames
- «inner»: Используйте пересечение ключей из обоих DataFrames (по умолчанию)

![img](https://drive.google.com/uc?id=1KK8yZteQWKInZvtVDu456ruhOlb4BUT7)

In [ ]:
merged_data_left = pd.merge(data_churn, customer_income,on='CustomerId', how='left')
merged_data_left

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,AnnualIncome
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,55000.0
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,NaN
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,68000.0
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,NaN
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,NaN
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,NaN
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,45000.0
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,NaN
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,NaN

Присоединение DataFrames с помощью метода `join()`. Метод join() используется для объединения DataFrames на основе их индекса. По умолчанию он выполняет левое соединение, что означает, что он использует индекс из левого DataFrame и включает все его строки.

Во-первых, давайте установим "CustomerId" в качестве индекса для обоих DataFrames:

In [ ]:
data_1 = data_churn.set_index('CustomerId')
customer_income = customer_income.set_index('CustomerId')

In [ ]:
joined_data = data_1.join(customer_income)
joined_data

,RowNumber,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,AnnualIncome
CustomerId,,,,,,,,,,,,,,
15634602,1,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,55000.0
15647311,2,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,NaN
15619304,3,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,68000.0
15701354,4,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,NaN
15737888,5,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15606229,9996,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,NaN
15569892,9997,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,NaN
15584532,9998,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,45000.0
15682355,9999,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,NaN
15628319,10000,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,NaN

Объединение и добавление DataFrames в Pandas, слияние и добавление DataFrames относится к процессу объединения двух или более DataFrames вдоль определенной оси, либо по горизонтали, либо по вертикали. Этот метод полезен, когда у вас есть несколько наборов данных с одинаковыми строками или столбцами и вы хотите сложить их вместе. Конкатенация и добавление - это два метода объединения кадров данных в Pandas.

Конкатенация используется для укладки DataFrames друг на друга или рядом друг с другом.

Добавление добавляет новые строки к существующему DataFrame.

Оба этих метода могут быть полезны при создании единого DataFrame, который содержит всю необходимую информацию из исходных наборов данных.

In [ ]:
data1 = data_churn.head(10)
data2 = data_churn.tail(10)
data1,data2

(   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
 0          1    15634602  Hargrave          619    France  Female   42
 1          2    15647311      Hill          608     Spain  Female   41
 2          3    15619304      Onio          502    France  Female   42
 3          4    15701354      Boni          699    France  Female   39
 4          5    15737888  Mitchell          850     Spain  Female   43
 5          6    15574012       Chu          645     Spain    Male   44
 6          7    15592531  Bartlett          822    France    Male   50
 7          8    15656148    Obinna          376   Germany  Female   29
 8          9    15792365        He          501    France    Male   44
 9         10    15592389        H?          684    France    Male   27

    Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
 0       2       0.00              1          1               1
 1       1   83807.86              1          0               1
 2       8  159660.80              3          1               0
 3       1       0.00              2          0               0
 4       2  125510.82              1          1               1
 5       8  113755.78              2          1               0
 6       7       0.00              2          1               1
 7       4  115046.74              4          1               0
 8       4  142051.07              2          0               1
 9       2  134603.88              1          1               1

    EstimatedSalary  Exited
 0        101348.88       1
 1        112542.58       0
 2        113931.57       1
 3         93826.63       0
 4         79084.10       0
 5        149756.71       1
 6         10062.80       0
 7        119346.88       1
 8         74940.50       0
 9         71725.73       0  ,
       RowNumber  CustomerId      Surname  CreditScore Geography  Gender  Age  \
 9990       9991    15798964   Nkemakonam          714   Germany    Male   33
 9991       9992    15769959  Ajuluchukwu          597    France  Female   53
 9992       9993    15657105  Chukwualuka          726     Spain    Male   36
 9993       9994    15569266       Rahman          644    France    Male   28
 9994       9995    15719294         Wood          800    France  Female   29
 9995       9996    15606229     Obijiaku          771    France    Male   39
 9996       9997    15569892    Johnstone          516    France    Male   35
 9997       9998    15584532          Liu          709    France  Female   36
 9998       9999    15682355    Sabbatini          772   Germany    Male   42
 9999      10000    15628319       Walker          792    France  Female   28

       Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
 9990       3   35016.60              1          1               0
 9991       4   88381.21              1          1               0
 9992       2       0.00              1          1               0
 9993       7  155060.41              1          1               0
 9994       2       0.00              2          0               0
 9995       5       0.00              2          1               0
 9996      10   57369.61              1          1               1
 9997       7       0.00              1          0               1
 9998       3   75075.31              2          1               0
 9999       4  130142.79              1          1               0

       EstimatedSalary  Exited
 9990         53667.08       0
 9991         69384.71       1
 9992        195192.40       0
 9993         29179.52       0
 9994        167773.55       0
 9995         96270.64       0
 9996        101699.77       0
 9997         42085.58       1
 9998         92888.52       1
 9999         38190.78       0  )

Объединение DataFrames с помощью функции `concat()`. Функция `concat()` объединяет DataFrames вдоль определенной оси. По умолчанию он конкатенирует DataFrames вдоль строк (axis=0).

Приведенное ниже учит, как соеять data1 и data2:

In [ ]:
concatenated_data = pd.concat([data1, data2])
concatenated_data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
concatenated_data_columns = pd.concat([data1, data2], axis=1)
concatenated_data_columns

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,...,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1.0,15634602.0,Hargrave,619.0,France,Female,42.0,2.0,0.00,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,15647311.0,Hill,608.0,Spain,Female,41.0,1.0,83807.86,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,15619304.0,Onio,502.0,France,Female,42.0,8.0,159660.80,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,15701354.0,Boni,699.0,France,Female,39.0,1.0,0.00,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,15737888.0,Mitchell,850.0,Spain,Female,43.0,2.0,125510.82,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6.0,15574012.0,Chu,645.0,Spain,Male,44.0,8.0,113755.78,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,15592531.0,Bartlett,822.0,France,Male,50.0,7.0,0.00,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8.0,15656148.0,Obinna,376.0,Germany,Female,29.0,4.0,115046.74,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,15792365.0,He,501.0,France,Male,44.0,4.0,142051.07,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,15592389.0,H?,684.0,France,Male,27.0,2.0,134603.88,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Germany,Male,33.0,3.0,35016.60,1.0,1.0,0.0,53667.08,0.0
9991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,France,Female,53.0,4.0,88381.21,1.0,1.0,0.0,69384.71,1.0
9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Spain,Male,36.0,2.0,0.00,1.0,1.0,0.0,195192.40,0.0
9993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,France,Male,28.0,7.0,155060.41,1.0,1.0,0.0,29179.52,0.0
9994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,France,Female,29.0,2.0,0.00,2.0,0.0,0.0,167773.55,0.0
9995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,France,Male,39.0,5.0,0.00,2.0,1.0,0.0,96270.64,0.0
9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,France,Male,35.0,10.0,57369.61,1.0,1.0,1.0,101699.77,0.0
9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,France,Female,36.0,7.0,0.00,1.0,0.0,1.0,42085.58,1.0
9998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Germany,Male,42.0,3.0,75075.31,2.0,1.0,0.0,92888.52,1.0
9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,France,Female,28.0,4.0,130142.79,1.0,1.0,0.0,38190.78,0.0

**Имейте в виду, что при соединении DataFrames вдоль столбцов важно, чтобы они имели одинаковый индекс. В противном случае вы можете получить отсутствующие значения в результате.**

Добавление DataFrames с помощью метода `append()`. Метод `append()` - это удобный способ объединения DataFrames вдоль строк, аналогично объединию вдоль строк с функцией `concat()`.

Вы можете добавить data2 к data1 следующим образом:

In [ ]:
appended_data = data1.append(data2)
appended_data

<ipython-input-23-3267d9b3dd87>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  appended_data = data1.append(data2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Поворот и трансформация DataFrams

Поворот и трансформация DataFrames в Pandas включает в себя изменение формы ваших данных путем изменения их структуры без изменения фактических данных.

`Pivoting` преобразует данные из длинного формата в широкий, в то время как `melting` делает обратное.

Pivoting DataFrames `using pivot()`. Method Pivoting a DataFrame означает его перестройку путем установки индекса, столбцов и значений на основе существующих столбцов. Метод `pivot()` принимает три основных аргумента: индекс, столбцы и значения. Например, предположим, что вы хотите создать сводную таблицу для отображения среднего кредитного рейтинга для каждой географии и гендерной комбинации в данном наборе данных:

In [ ]:
# Calculate the average credit score for each combination of geography and gender
average_credit_score = data_churn.groupby(['Geography', 'Gender'])['CreditScore'].mean().reset_index()
# Pivot the DataFrame
pivot_data = average_credit_score.pivot(index='Geography',columns='Gender', values='CreditScore')
pivot_data

Gender         Female        Male
Geography
France     649.185759  650.064657
Germany    653.093881  649.966565
Spain      651.769513  650.992075

Трансформация DataFrames с помощью функции `melt()`.
Трансформация DataFrame означает преобразование его из широкого формата в длинный формат путем перемещения нескольких столбцов в один столбец. Функция `melt()` принимает три основных аргумента: id_vars, value_vars и var_name.

Например, давайте расплавим pivot_data DataFrame обратно в длинный формат:

In [ ]:
melted_data = pd.melt(pivot_data.reset_index(),id_vars='Geography', value_vars=['Female', 'Male'],var_name='Gender', value_name='AverageCreditScore')
melted_data

  Geography  Gender  AverageCreditScore
0    France  Female          649.185759
1   Germany  Female          653.093881
2     Spain  Female          651.769513
3    France    Male          650.064657
4   Germany    Male          649.966565
5     Spain    Male          650.992075

# Домашнее задание
1. Тщательно изучите документацию на библиотеку pandas и попробуйте самостоятельно выполнить группировку по другим столбцам.
2. В качестве упражнения выведите на экран название (Name) фирмы, у которой цена (Price) входит в интервал Exclusive
3. Загружаем выборку `Iris.csv`
4. Выводим первый и третий столбцы, сначала по отдельности, потом вместе.
5. Вывести 10 первых строк, вывести 23 случайных строк.
6. Выводим статистику по числовым показателям
7. Сгрупируйте данные по столбцу Setosa